---
layout: default
title: "Home"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | GaiaMitra Collective Foundation</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <style>
    .teal-text {
      color: #468fa3;
    }
    .link-box {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 10px;
      background-color: #f0f8ff;
      border: 1px solid #468fa3
      border-radius: 3px;
      text-decoration: none;
      color: teal;
    }
    .link-box:hover {
      background-color: #468fa3;
      color: white;
    }
  </style>
</head>
<body>
  <header>
    <img src="/assets/images/logo-final-bkg.png" alt="logo" style="width:60%; max-width:600px; margin-top:10px;">
    <h2><em>Combining Ecological Expertise &amp; Statistical Innovation</em></h2>
  </header>

  <main>
    <section>
      <h2 class="teal-text"><strong>Who are we?</strong></h2>
      <p>
        Specializing in ex situ conservation and wildlife monitoring, GaiaMitra Collective Foundation (GMCF) applies cutting-edge science and rigorous data analysis to inform effective conservation strategies - both within human-managed environments and in the wild. We are committed to facilitating long-term ecological research at our sites, ensuring that our efforts contribute to lasting, science-based solutions.
      </p>
      <p><a href="/about" class="link-box">Learn more about us</a></p>
    </section>

    <section>
      <h2 class="teal-text"><strong>Domain areas</strong></h2>
      <ul>
        <li>
          <strong>Zoo Science</strong> – Advancing best practices in animal management, welfare, and conservation breeding programs.
        </li>
        <li>
          <strong>Capacity Building</strong> – Equipping professionals, students, and stakeholders with skills to effectively manage and conserve wildlife.
        </li>
        <li>
          <strong>Long-term Ecological Monitoring</strong> – Implementing research programs that track biodiversity, inform policies, and guide strategic interventions.
        </li>
      </ul>
      <p><a href="/our-work" class="link-box">Learn more about our work</a></p>
    </section>

    <section>
      <h2 class="teal-text"><strong>Research and Advisory Services</strong></h2>
      <p>
        <a href="/research" class="link-box">Learn more about our work</a>
      </p>
    </section>

    <section>
      <h2 class="teal-text"><strong>Contact Us</strong></h2>
      <p>
        Need our services? 
        <p><a href="/contact" class="link-box">Contact us</a><p>
      </p>
    </section>
  </main>

</body>
</html>
